*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    position:relative;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;

    background: #B3E2DA;
    box-shadow: 0px 4px 50px #B3E2DA;
    border-radius: 25px;
}

nav a {
    text-decoration:none;
    color: #095548;
}

nav a:hover {
    /* color: #e725a7; */
    font-weight: 600;

}

main li a {
    text-decoration:none;
    color: #095548;
}

nav ul {
    position: absolute;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 30px;
    left: 25%;
    top: 10px;
    margin: 5px;
    padding: 20px;

    background: #FFDBF3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

nav li{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 29px;

    color: #095548;

}

.cv {
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 140px;
    height: 30px;
    right: 27%;
    top: 10px;
    margin: 5px;
    padding: 20px;

    background: #095548;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;

}

p a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 29px;
    color: #FFDBF3;
}

.right {
    position: absolute;

}

.right img {
    position: absolute;
    width: 250px;
    height: 260px;
    left: 600px;
    top: 140px;
    border-radius: 50%;
    display:flex;
    background: url(frontend.engineerfrontend.softwareengineer.juniorfrontend.design);
    box-shadow: 4px 4px 60px 5px #095548;
}

.left{
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 140px;
    top:140px;
}


.size{
    width:350px;
    height: 50px;
    padding-top:10px;
    margin-top:10px;
}

h3{   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 35px;
    border-bottom:20px;

    color: #095548;
}

h3.correct{
    line-height: 25px;

}

h1 {  
    width: 133px;
    height: 77px;
    margin-bottom: 30px;
    
    font-family: 'Satisfy';
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    line-height: 77px;
    color: #095548;
}

h1.size.letter{
    position: absolute;
    font-size: 50px;
    left:275px;
    top:-75px;

}

h1.size.letter.contact{
    position: absolute;
    font-size: 50px;
    left:165px;
    top:-75px;

}

i.fa.fa-solid.fa-briefcase {
    position: absolute;
    font-size: 25px;
    width: 150px;
    height: 72px;
    left:225px;
    top:-35px;
    color: #095548;    
}

i.fa.fa-solid.fa-user {
    position: absolute;
    font-size: 27px;
    width: 150px;
    height: 77px;
    left:260px;
    top:103px;
    color: #095548;    
}


.proj_1 img {
    position:absolute;
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    top:200px;
    left:125px;

    background: #D9D9D9;
    box-shadow: 0px 4px 5px #095548;

}

.proj_1 h3{
    position:absolute;
    display: flex;
    top:375px;
    left:165px;
    width:100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 17px;
    border-bottom:10px;

    color: #095548;

}

.proj_2 img {
    position:absolute;
    display: flex;
    border-radius: 0px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    top:200px;
    left: 405px;

    background: #D9D9D9;
    box-shadow: 0px 4px 5px #095548;

}

.proj_2 h3{
    position:absolute;
    display: flex;
    width:200px;
    top:375px;
    left:445px;
    width:100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 17px;
    border-bottom:10px;

    color: #095548;

}

.proj_3 img{

    position:absolute;
    display: flex;
    border-radius: 0px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    top:200px;
    left:685px;

    background: #D9D9D9;
    box-shadow: 0px 4px 5px #095548;
}

.proj_3 h3{
    position:absolute;
    display: flex;
    top:375px;
    left:725px;
    width:100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 17px;
    border-bottom:10px;

    color: #095548;

}

ul.list_contact{
    display:flex;
    position:absolute;
    flex-direction: column;
    list-style: none;
    top:210px;
    left:250px;
    width:500px;
    height: 250px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 275;
    font-size: 20px;
    line-height: 18px;

    color: #095548;
}

.fa.fa-brands.fa-whatsapp, .fa.fa-solid.fa-envelope,
.fa.fa-brands.fa-linkedin, .fa.fa-brands.fa-github {
    margin:8px;
    color: #e18ae4;

}
